:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #2a2a2a;
  background-color: #fff;
}

#root {
  height: 100vh;

  background-color: #fff;
}

section {
  max-width: 1280px;
  padding: 15px;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
